/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body.app {
  margin: 0 0 0 1em;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

#container {

  #nav {
    float: left;
  }

  #content {
    float: right;
  }
}

.app h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: .5em .5em .5em 0;
  font-size: 1.5em;
}
