/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif !important;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#container {
  margin: 1em 5% 1em 5%;
  width: 90%;
  min-height: 90%;

  #nav {
    float: left;
    width: 30%;

    h1 {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 2.5em;
      margin-bottom: .5em;

      a {
        text-decoration: none;
        color: black;
      }
    }

    ul {
      margin-top: 1em;

      li {
        line-height: 2em;

        a {
          display: block;
          width: 100%;
        }
      }
    }
  }

  #content {
    float: right;
    width: 62.5%;

    h2 {
      font-size: 2em;
      font-family: 'Yanone Kaffeesatz', sans-serif;
    }

    p {
      margin-top: 2em;
      margin-bottom: 2em;
      line-height: 1.2em;
    }
  }
}

#footer {
  float: left;
  width: 100%;
  font-size: 9pt;
  text-align: center;
}
